div.gameUI div.actions {
    position: absolute;
    top: 50px;
    left: 20px;
    
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    gap: 10px;
    border-radius: 8px;
}

div.gameUI div.actions button {
    display: block;
    background-color: rgb(255,255,255,0%);
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    outline: 0;
    font-size: 25px;
    text-align: left;
    /* border-right:1px solid white; */
    opacity: 0.8;
    border-radius: 3px;
    padding: 8px 20px;
    transition: translate .5s cubic-bezier(.13, 1.43, .53, 1), scale .5s cubic-bezier(.13, 1.43, .53, 1),  opacity .5s cubic-bezier(.13, 1.43, .53, 1);
}


div.gameUI div.actions button:nth-last-child(1) {
    border-right: 0;
}

div.gameUI div.actions button:hover {
    translate: 10px;
    opacity: 0.9;
}

div.gameUI div.actions button:active {
    scale: 0.95;
    opacity: 1;
}

div.gameUI div.left-center {
    position: absolute;
    top: 50%;
    left: 3%;
    translate: 0% -50%;
}

div.gameUI div.right-center {
    position: absolute;
    top: 50%;
    right: 30px;
    translate: 0% -50%;
}

